<div class="svg-in-directory">
  {{inline-svg "foo/mango"}}
</div>

{{code-block '{{inline-svg "foo/mango"}}' language="handlebars"}}

<div class="svg-in-directory">
  {{inline-svg "foo/bar/aqua"}}
</div>

{{code-block '{{inline-svg "foo/bar/aqua"}}' language="handlebars"}}
